<h1>All of our flats</h1>




<div class="d-flex justify-content-around">
  <% @flats.each do |flat| %>
    <div class="card" style="width: 18rem;">
      <!-- <img src="" class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title"><%= flat.name %></h5>
        <p class="card-text"><%= flat.description %>.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  <% end %>
</div>
